# Normalize text files to LF in the repository.
* text=auto eol=lf

# Exclude development and repository metadata from distribution archives.
/.editorconfig         export-ignore
/.git*                 export-ignore
/commitlint.config.cjs export-ignore
/scripts               export-ignore
/tests                 export-ignore
